services:
  db:
    image: postgres:15-alpine
    container_name: financiero_postgres_container
    restart: always
    environment:
      POSTGRES_DB: financiero_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5434:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: